
.footer{
    text-align: center;
}


.footer--texts{
    padding-top: 10px;
    line-height: 2;
}


.icons-footer{
    display:  flex;
    justify-content: center;
    padding-top: 18px;
    font-size: 1.2rem;
    gap: 20px;
}


