
.nav--content{
    padding-top: 36px;
    background: linear-gradient(to top, #1e4564,  #1d66a1, #42a4f4);
}

.nav{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #b8c0c7;
}

@keyframes wave {
    0% {
      d: path("M0,96L120,112C240,128,480,160,720,160C960,160,1200,128,1320,112L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z");
    }
    25% {
      d: path("M0,110L120,130C240,150,480,170,720,170C960,170,1200,150,1320,130L1440,110L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z");
    }
    50% {
      d: path("M0,120L120,140C240,160,480,180,720,180C960,180,1200,160,1320,140L1440,120L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z");
    }
    75% {
      d: path("M0,110L120,130C240,150,480,170,720,170C960,170,1200,150,1320,130L1440,110L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z");
    }
    100% {
      d: path("M0,96L120,112C240,128,480,160,720,160C960,160,1200,128,1320,112L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z");
    }
}