

.projects{
    width: 90%;
    padding-top: 38px;
    padding-bottom: 38px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    gap: 28px;
    
   
}

.projects--card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.projects--card img{
    width: 100%;
    height: 100%;
}

.projects--modal{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #1e446482;
    display: grid;
    align-items: flex-end;
    padding:  1.5rem 1.25rem;
    transition: .3s;
    
}

.projects--subtitle,
.projects--title{
    color: #fff;
}

.projects--title{
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.projects--btn{
    padding: .5rem;
}

.projects--card:hover .projects--modal{
    bottom: 0;
}


.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #fff;
    color: #1e4564;
    padding: 1.15rem;
    border-radius: .5rem;
    box-shadow: 0 8px 24px;
}

.projects--btn i {
    
    font-size: 1.2rem;
}

.btn--small{
    padding: .75rem;
    box-shadow: none;
}

@media screen and (min-width: 600px) {
    .projects{
  
        grid-template-columns: 1fr 1fr;
       
    }


 
}
  