

.tecno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
    color: #b8c0c7;
    margin: 64px auto;
    max-width: 500px;
}


.icon--tecno{
    font-size: 3.6rem;
}


.tecno--subtitle{
    margin: 0;
    line-height: 2;
    font-size: 1rem;
    padding-top: 6px;
}


.wave--top{
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100px;
}


.wave--botton{
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100px;
}

