

.tecno{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 34px;
    color: #b8c0c7;
    margin-bottom: 26px;
}


.icon--tecno{
    font-size: 3.6rem;
}


.tecno--subtitle{
    margin: 0;
    line-height: 2;
    font-size: 1.2rem;
}


.wave--top{
    margin-bottom: 62px;
}


.wave--botton{
    position: relative;
    top: 4px;
}