

.hero{
    text-align: center;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top, #1e4564,  #1d66a1, #42a4f4);
}

.hero--content{
    padding-bottom: 23px;
}

.img--about{
    width: 260px;
    height: 260px;
    padding: 8px;
    align-items: center;
    border: 3.6px solid #42a4f4;
    border-radius: 80%;
}

.about--title{
    margin: 0;
    font-size: 1.9rem;
    line-height: 1.4;
}

.about--subtitle{
    margin: 0;
    margin-bottom: 14px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #b8c0c7;
}

.icons-content{
    display:  flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
    margin-bottom: 28px;
}

.icon{
    color: #b8c0c7;
    cursor: pointer;
}

.nav--hero{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    justify-content: center;
}

.nav--hero a {
    text-decoration: none;
    color: #b8c0c7;
}

.wave{
    position: relative;
    display: block;
    width: 100%;
    background: #1d66a1;
    background-repeat: no-repeat;
}

.wave--content{
    background-color: #2f77b1;
}

.wave--top, .wave--botton{
    height: 250px;
}


.section--black{
    height: 230px;
}

.section--fondt{
    width: 100%;
    background-repeat: no-repeat;
}

.fondt{
    width: 100%;
    height: auto;
    
}

.section--med{
    height: 400px;
}

@media (min-width: 500px) {
    .section--med {
        display: none;
    }

}
  
/* main */

.main{
    width: 100%;
    text-align: center;
}


.about{
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.title{
    margin: 0;
    line-height: 1.4;
    color: #2f77b1;
    text-align: center;
}

.sub--title{
    line-height: 1.2;
    color: #395b77;
    margin: 0;
    
}

.sub--texts{
    width: 90%;
    font-size: 1rem;
    margin: 0 auto;
    padding-bottom: 18px;
    color: #b8c0c7;
}

/* projects */

.section--about{
    width: 86%;
    margin: 0 auto;
}

.section--project{
    padding-top: 76px;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
}

.projects{
    width: 90%;
    padding-top: 38px;
    padding-bottom: 76px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    gap: 28px;
}


@media (min-width: 500px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

.projects--card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}


.projects--card img{
    width: 100%;
    height: 100%;
}


.projects--modal{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: #1e446482;
    align-items: flex-end;
    padding:  1.0rem 1.20rem;
    transition: .3s;
}


.projects--subtitle,
.projects--title{
    color: #fff;
}


.projects--title{
    margin-top: .6rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
}


.projects--stack p{
    display: inline;
    padding: .3rem;
    font-size: .9rem;
}

.projects--btn{
    padding: .5rem;
}


.projects--card:hover .projects--modal{
    bottom: 0;
}


.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #fff;
    color: #fff;
    margin-top: 3.35rem;
    padding: 1.15rem;
    border-radius: .5rem;
    box-shadow: 0 8px 24px;

}


.projects--btn i {
    font-size: 1.2rem;
}

.btn--small{
    padding: .75rem;
    box-shadow: none;
}

/*  Stack develop  */

.container{
    width: 100%;
    max-width: 740px;
    margin: auto;
    margin-top: 60px;
}

.lbl-menu{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 12px;
    padding-bottom: 17px;
    position: relative;
    bottom: 44px;

}

.lbl-menu label{
    display: inline-block;
    padding: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}

.lbl-menu label:hover{
    border-radius: 20px;
    background-color: #1e4564;
}

.content {
    position: relative;
}

.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    transform: scale(0.90);
    width: 100%;
    min-height: 200px;
    padding: 18px;
    padding-bottom: 26px;
    background: #fff;
    justify-content: center;
}

#radio1,#radio2,#radio3{
    display: none;
}

#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
} 

.span--icon{
    display: inline-block;
    padding: 22px;
}

.sub--icon{
    font-size: 0.7rem;
}

.title--icon{
    font-size: 0.8rem;
    margin: 0;
}

/* wave  */ 

@keyframes wave {
    0% {
      d: path("M0,160L48,149.3C96,139,192,117,288,122.7C384,128,480,160,576,181.3C672,203,768,213,864,197.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    50% {
      d: path("M0,192L48,181.3C96,171,192,149,288,154.7C384,160,480,192,576,213.3C672,235,768,245,864,229.3C960,213,1056,171,1152,154.7C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
    100% {
      d: path("M0,160L48,149.3C96,139,192,117,288,122.7C384,128,480,160,576,181.3C672,203,768,213,864,197.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }
}

.wave-animation {
    background-color: #2f77b1; /* Color de fondo */
}
  
.wave-animation path {
    animation: wave 5s infinite ease-in-out;
    stroke-width: 12px; /* Ajusta el grosor según tus necesidades */
}

/* form  */ 

.section--form{
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
}
   
   
.form{
    display: flex;
    flex-direction: column;
    padding-bottom: 84px;
}
    
.form--content{
    display: grid;
    margin-top: 26px;
    gap:  28px;
    width: 288px;
}
   
.form--label{
    position: relative;
}
   
.input{
    width: 100%;
    color: #626060;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px, solid, #42a4f4;
}
   
.mensaje{
    min-height: 100px;
    max-height: 200px;
    max-width: 288px;
}
   
.input:focus + .label--input, .input:not(:placeholder-shown) + .label--input {
    transform: translateY(-22px) scale(.7);
}
   
.label--input{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .5s;
}
   
.buton{
    width: 26%;
    margin: 22px auto;
    padding: 8px;
    color: #706c6c;
}
